<section class="hero">
    <div class="hero-content">
        <h3 class="fade-in delay-1">Hello, World!</h3>
        <h1 class="fade-in delay-2">I'm <br> <span class="highlight">Sahid Ahmed</span></h1>
        
        <h2 class="typing-container fade-in delay-3">I am a <span class="typing-text"></span></h2>
        
        <p class="fade-in delay-3 sub-text">
            Specializing in MERN Stack, PHP, and Flutter App Development.
        </p>

        <div class="fade-in delay-4 buttons-container">
            <a href="#projects" class="main-btn">
                VIEW MY WORK 
                <i class="fa-solid fa-arrow-right-long icon-arrow"></i>
            </a>
            <a href="https://github.com/Sahid1411" target="_blank" class="secondary-btn">
                <i class="fa-brands fa-github"></i> GitHub
            </a>
        </div>
    </div>

    <div class="hero-image-container fade-in delay-3">
        <img src="./assets/image-1.png" alt="Sahid Ahmed 3D Avatar" class="avatar parallax-target">
    </div>
</section>